body{
    background-image: url("https://c8.alamy.com/comp/2C4NM7R/concept-of-financial-life-planning-the-future-family-future-loanhouse-car-properties-money-savings-coins-banknotes-on-a-charts-background-2C4NM7R.jpg");
}

#loancal{
    width: 375px;
    height: 295px;
    background-color: rgba(61, 78, 231, 0.705);
    color: #fff;
    margin-left: 385px;
    margin-top: 170px;
    padding-left: 100px;
    padding-top: 30px;


}
#months{

    width: 180px;
    height: 30px;

}
#amount{
    width: 180px;
    height: 30px;

}
#interest_rate{
    margin-left: 3px;
    width: 180px;
    height: 30px;
}

h1{

    font-size: 42px;
}